<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <svg class="glyph stroked notepad"><use xlink:href="#stroked-notepad"></use></svg>
                Publicaciones realizadas
            </div>
            <div class="panel-body">
                <table id="entryList" class="display responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-priority="1">Autor</th>
                            <th data-priority="3">Fecha publicación</th>
                            <th data-priority="2">Título</th>
                            <th data-priority="4">Resumen</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <hr />
                <button type="button" class="btn btn-danger" ng-show="vm.rowSelected !== false && user.role === '1'" ng-click="vm.deleteRow()">
                    Borrar entrada
                </button>
                <button type="button" class="btn btn-primary" ng-show="vm.rowSelected !== false" ng-click="vm.viewEntryDetails()">
                    Ver detalles
                </button>
            </div>
        </div>
    </div>
</div>